data/*

!data/output_files/
!data/workshop_content/
!data/completed_files/
!data/translations_CN.txt
!data/PZ-Mod-Translation.txt

data/output_files/logs/
/.vs

/translation_utils/PreProcessing/*
!/translation_utils/PreProcessing/PreProcessing.sln
!/translation_utils/PreProcessing/PreProcessing/PostProcessing.csproj
!/translation_utils/PreProcessing/PreProcessing/Program.cs

/translation_utils/PostProcessing/*
!/translation_utils/PostProcessing/PostProcessing.sln
!/translation_utils/PostProcessing/PostProcessing/PostProcessing.csproj
!/translation_utils/PostProcessing/PostProcessing/Program.cs
