data/*

!data/output_files/
!data/workshop_content/
!data/completed_files/
!data/translations_CN.txt
!data/PZ-Mod-Translation.txt

data/output_files/logs/
/.vs
/translation_utils/PreProcessing/.vs
/translation_utils/PreProcessing/PreProcessing/bin
/translation_utils/PreProcessing/PreProcessing/obj
/translation_utils/PostProcessing/.vs/PostProcessing/copilot-chat/3d97fec2/sessions
/translation_utils/PostProcessing/.vs/PostProcessing
/translation_utils/PostProcessing/PostProcessing/bin
/translation_utils/PostProcessing/PostProcessing/obj
