data/*

!data/output_files/
!data/workshop_content/
!data/completed_files/
!data/translations_CN.txt

data/output_files/logs/
/.vs
/translation_utils/PreProcessing/.vs
/translation_utils/PreProcessing/PreProcessing/bin
/translation_utils/PreProcessing/PreProcessing/obj
